<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./asssets/css/style.css">

    <title>Boolflix</title>
</head>
<body>
    <div id="app">
        <nav>
            <input type="text" placeholder="Search film name" v-model="query">
            <button @click="searchFilm()">Search</button>

            <select name="category" id="category" v-model="category" @click="clearList()">
                <option value="" selected disabled >Choose Category</option>
                <option value="movies">Movies</option>
                <option value="tvShows">Tv Shows</option>
            </select>
        </nav>

        <div class="container">
            <div class="card" v-for="(film, index) in filmsList" v-if="category === 'movies'">
                {{ film.title }}
                {{ film.original_title }}
                <img :src="countryFlag + film.original_language + flagTipe" v-if="film.original_language == 'en' ? film.original_language = 'us' : film.original_language">
                {{ film.vote_average }}

            </div>

            <div class="card" v-else>
                {{ film.original_name }}
                {{ film.original_name }}
                <img :src="countryFlag + film.origin_country + flagTipe">
                {{ film.origin_country }}
                {{ film.vote_average }}
            </div>
        </div>
    </div>

    <!-- VUEJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- AXIOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- MAIN JS -->
    <script src="./asssets/js/main.js"></script>
</body>
</html>